{% assign color = "rgba(255,255,255,.45)" %}

<style>
  .issues-logo-container {
    font-size: min(15vw, 180px);
    margin-top: 1.5em;
    font-weight: 500;
    letter-spacing: .1em;
    z-index: 9;
  }

  .issues-logo-container p {
    color: {{color}};
    line-height: .04;
    padding: 0;
    margin: 0;
    font-size: 1em;
  }

  .issues-logo-container .last {
    margin-bottom: .5em;
  }

  @media (min-aspect-ratio: 1/1.5) {

    .issues-logo-container {
      font-size: 4rem;
      top: 1vw;
      padding: 5vw 0;
      transform: translateX(-5vw);
      right: 0;
    }

  }

  .last {
    text-shadow: 0 -.05em {{color}}, 0 -.1em {{color}}, 0 -.15em {{color}}, 0 -.20em {{color}}, 0 -.25em {{color}}, 0 -.30em {{color}}, 0 -.35em {{color}} ;
  }
</style>

<a class="text-decoration-none" href="\">
<div class="header">
  <div class="issues-logo-container text-center">
    <!--
    <p>VUOTO</p>
    <p>VUOTO</p>
    <p>VUOTO</p>
    <p>VUOTO</p>
    <p>VUOTO</p>
    <p>VUOTO</p>
    <p>VUOTO</p>
    <p>VUOTO</p>
    <p>VUOTO</p>
    <p>VUOTO</p>
    <p>VUOTO</p>
    <p>VUOTO</p>
    <p>VUOTO</p>
    <p>VUOTO</p>
    <p>VUOTO</p>
    <p>VUOTO</p>
    <p>VUOTO</p>
    -->
    <p class="last">VUOTO</p>
  </div>

  <div class="pt-1 text-white text-center j-fs-150em j-fw-300" style="opacity: .7">
    BOOKAZINE
  </div>


  <div class="mt-2 mb-5 text-center">
    <img src="/res/pics/divider.svg" alt="divider">
  </div>
</div>
</a>
