<div class="container text-white px-5 text-center">
  <div class="mt-2">
    <img src="/res/pics/divider.svg" alt="divider">
  </div>
  <div class="pt-5 pb-3 j-fw-200 j-fs-150em j-lh-09">
    vuoto è un progetto di
    <br>
    <a target="_blank" href="https://orizzontale.org">orizzontale</a> + <a target="_blank" href="https://atto.si">atto</a>
    <br>
    <br>
    scrivici:
    <a href="mailto:ciao@vuoto.xyz">ciao@vuoto.xyz<a />
    <br>
    <br>
    <a target="_blank" href="/privacy">privacy policy</a>
  </div>
</div>
<div class="py-2">
</div>
