<!DOCTYPE html>
<html lang="import" dir="ltr" class="blue">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Vuoto è uno spazio pubblico transmediale" />

  <title>VUOTO spazio pubblico transmediale</title>

  <!-- Redirect to https -->

  <script src="/res/js/gsap.min.js"></script>
  <script src="/res/js/ScrollMagic.js"></script>
  <script src="/res/js/animation.gsap.js"></script>

  <link rel="stylesheet" href="https://use.typekit.net/skj1zoz.css">

  <style media="screen">
  </style>

  <link rel="stylesheet" href="/css/styles-home.css">


  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-79NJETB0F2"></script>
  <script>
    // load Google Analytics only if host is correct (do not load in development env)
    var host = "vuoto.xyz"
    if (window.location.host == host) {
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'G-79NJETB0F2');
    }
  </script>

</head>
