<style media="screen">
  .menu-button {
    position: fixed;
    bottom: 0;
    right: 0;

    background-color: #F012BE;
    color: white;

    font-size: 40px;
    height: 50px;
    line-height: 50px;
    width: 50px;
    text-align: center;
    cursor: pointer;
    border-radius: 100px;

    z-index: 20;
    margin: 15px;
    transition: transform .4s ease-in-out;
  }


  .menu {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #F012BE;
    color: white;
    font-size: 16px;
    line-height: 1;
    z-index: 21;
    margin-bottom: 100px;
    font-weight: 500;
    transition: transform .4s ease-in-out;
  }

  .menu a {
    text-decoration: none;
    color: inherit;
  }

  .menu a:hover {
    text-decoration: underline;
  }

  .menu-sub {
    padding-left: .7em;
  }

  .hidden {
    transform: translateX(110%);
  }

  .rotate {
    transform: rotate(-140deg);
  }





</style>

<div class="menu-button menu-open random-colored">
  +
</div>

<div class="menu hidden random-colored p-3">

  <div class="mt-3"> <a class="menu-link" href="/#begin">HOME</a> </div>

  <div class="mb-5"></div>

  <div class="mb-3"> BOOKAZINE </div>
  <div class="mb-3 ps-2"> <a class="menu-link" href="/vertigo">VUOTO 1 / VERTIGO</a> </div>
  <div class="mb-3 ps-2"> <a class="menu-link" href="/controverso">VUOTO 2 / CONTROVERSO</a> </div>
  <div class="mb-3 ps-2"> <a class="menu-link" href="/festa">VUOTO 3 / FESTA</a> </div>
  <div class="mb-3 ps-2"> <a class="menu-link" href="/network">ACQUISTA UNA COPIA</a> </div>

  <div class="mb-5"></div>

  <div class="mb-3"> <a class="menu-link" target="_blank" href="/talks">VUOTO TALKS &#8594; </a> </div>
  <div class="mb-3"> <a class="menu-link" target="_blank" href="/aroundtables">OPEN CALL <br> "AROUND TABLES" &#8594; </a> </div>

</div>

<script type="text/javascript">

  document.querySelector(".menu-open").addEventListener("click", function() {
    document.querySelector(".menu").classList.toggle("hidden");
    document.querySelector(".menu-button").classList.toggle("rotate");
  })

  document.querySelectorAll(".menu-link").forEach(item => {
    item.addEventListener("click", function() {
      document.querySelector(".menu").classList.toggle("hidden");
      document.querySelector(".menu-button").classList.toggle("rotate");
    })
  })

</script>
