<style media="screen">
  .menu-button {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: red;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    z-index: 20;
    margin: 15px;
    border-radius: 100px;
  }

  .menu {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: red;
    padding: 10px 20px;
    font-size: 40px;
    z-index: 21;
    margin-bottom: 100px;
  }

  .menu a {
    text-decoration: none;
    font-size: 16px;
  }

  .hidden {
    display: none;
  }
</style>

<div class="menu-button menu-open">
  +
</div>

<div class="menu hidden">
  <div> <a href="/index.html#what">ABOUT</a> </div>
  <div> <a href="/index.html#vertigo">VUOTO #1 VERTIGO</a> </div>
    <div> <a href="/index.html#controverso">VUOTO #2 VERTIGO</a> </div>
    <div> <a href="/index.html#getyourcopy">GET YOUR COPY</a> </div>
    <hr>
    <div> <a target="_blank" href="/talks"> &#8594; VUOTO TALKS</a> </div>
    <div> <a target="_blank" href="/aroundtables">&#8594; AROUND TABLES</a> </div>
  <div class="menu-button menu-close"> x </div>
</div>

<script type="text/javascript">

  document.querySelector(".menu-open").addEventListener("click", function() {
    document.querySelector(".menu").classList.toggle("hidden");
  })

  document.querySelector(".menu-close").addEventListener("click", function() {
    document.querySelector(".menu").classList.toggle("hidden");
  })

</script>
