<style media="screen">
  .menu-button {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: red;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    z-index: 20;
    margin: 15px;
    border-radius: 100px;
  }

  .menu {
    padding: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: red;
    font-size: 40px;
    z-index: 21;
    margin-bottom: 100px;
  }

  .menu div, .menu a {
    line-height: 1;
  }

  .menu a {
    text-decoration: none;
    font-size: 16px;
    color: white;
  }

  .menu a:hover {
    text-decoration: underline;
  }

  .menu-sub {
    padding-left: .7em;
  }

  .hidden {
    display: none;
  }
</style>

<div class="menu-button menu-open">
  +
</div>

<div class="menu hidden">
  <div> <a class="menu-link" href="/#begin">HOME</a> </div>
  <div> <a class="menu-link menu-sub" href="/#what">ABOUT</a> </div>
  <div> <a class="menu-link menu-sub" href="/#getyourcopy">GET YOUR COPY</a> </div>

  <hr>
  <div> <a class="menu-link menu-sub" href="/#festa">VUOTO 3 FESTA</a> </div>
  <div> <a class="menu-link menu-sub" href="/#controverso">VUOTO 2 CONTROVERSO</a> </div>
  <div> <a class="menu-link menu-sub" href="/#vertigo">VUOTO 1 VERTIGO</a> </div>
  <hr>
  <div> <a class="menu-link" target="_blank" href="/talks">VUOTO TALKS &#8594; </a> </div>
  <div> <a class="menu-link" target="_blank" href="/aroundtables">AROUND TABLES &#8594; </a> </div>
  <div class="menu-button menu-close"> x </div>
</div>

<script type="text/javascript">

  document.querySelector(".menu-open").addEventListener("click", function() {
    document.querySelector(".menu").classList.toggle("hidden");
  })

  document.querySelector(".menu-close").addEventListener("click", function() {
    document.querySelector(".menu").classList.toggle("hidden");
  })

  document.querySelectorAll(".menu-link").forEach(item => {
    item.addEventListener("click", function() {
      document.querySelector(".menu").classList.toggle("hidden");
    })
  })

</script>
