  @font-face {
    font-family: "SangBleuEmpire-Medium";
    src: url("/fonts/SangBleuEmpire-Medium-WebS.woff2") format("woff2"),
         url("/fonts/SangBleuEmpire-Medium-WebS.woff") format("woff");
  }




  /* richiesto da scrollmagic */
  html,
  body {
    height: 100%;
  }

  /* reset and general layout styles */

  body {
    overflow-x: hidden;
  }

  html,
  body,
  div,
  p,
  h1,
  h2,
  ul,
  li{
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: inherit
  }



  /****** real styles for content ******/

  .header {
    display: flex;
    width: 100vw;
    height: 900px;
  }

  .main {
    padding: 0 4vw;
  }

  .spacer100 {
    height: 100vh;
  }
  .spacer20 {
    height: 20vh;
  }

  /* styles for footer */
  .footer {
    color: black;
    padding: 4vw;
    font-size: 6vw;
    line-height: 1;
  }

  .disclaimer-link {
    float: right;
  }




  /*
  ███████  ██████  ███    ██ ████████ ███████
  ██      ██    ██ ████   ██    ██    ██
  █████   ██    ██ ██ ██  ██    ██    ███████
  ██      ██    ██ ██  ██ ██    ██         ██
  ██       ██████  ██   ████    ██    ███████
  */


  body {
    font-family: neue-haas-grotesk-display, Helvetica, sans-serif;
  }

  .issue-container {
    letter-spacing: .04em;
  }

  #what,
  #what2,
  #footer {
    font-family: SangBleuEmpire-Medium, serif;
    font-weight: 700;
  }

  #what,
  #what2 {
    font-size: 6vmin;
  }

  .description {
    font-size: 4.5vw;
  }

  .network h3 {
    font-family: SangBleuEmpire-Medium, serif;
  }

  .acquista {
    font-family: SangBleuEmpire-Medium, serif;
  }












  /*
   ██████  ██████  ██       ██████  ██████  ███████
  ██      ██    ██ ██      ██    ██ ██   ██ ██
  ██      ██    ██ ██      ██    ██ ██████  ███████
  ██      ██    ██ ██      ██    ██ ██   ██      ██
   ██████  ██████  ███████  ██████  ██   ██ ███████
  */


  html {
    transition: background-color 1s;
  }

  /*
  html.blue {
    background: rgb(12,128,126);
  }
  .logo-container p {
    color: rgb(230, 83, 124);
  }
  */

  html.black {
    background: black;
  }

  html.white {
    background: white;
  }



  .logo-container.closed p {
    opacity: 0.3;
  }

  .logo-container.closed .last {
    opacity: 0.99;
  }

  body {
    color: white;
  }

  a,
  a:visited,
  a:active {
    color: inherit;
  }

  .footer a:hover {
    color: #50e95d;
  }





  /* stili logo */
  .logo-container {
    position: fixed;
    transform-origin: 50% 50%;
    font-size: 25.2vw;
    line-height: .4;
    top: -14vh;
    right: 0vw;
    font-weight: 500;
    letter-spacing: .1em;
    transition: line-height 1s, margin-top 1s, top 1s, right 1s, opacity 1s, font-size 1s, margin-left 1s;
    opacity: 1;
    z-index: 9;
  }

  .logo-container.closed {
    line-height: .015;
    top: 11vw;
  }

  body,
  .header {
    background: inherit;
  }




  /* stili what */
  .line {
    height: 2.5vmin;
    margin-bottom: 50vmin;
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
    opacity: 1;
  }

  .visible {
    opacity: 1;
  }
  .hidden {
    opacity: 0;
  }

  #what p {
    position: sticky;
    top: 30vh;
  }

  #what p:nth-child(1)  {padding-top: 1em;}
  #what p:nth-child(3)  {padding-top: 2em;}
  #what p:nth-child(5)  {padding-top: 3em;}
  #what p:nth-child(7)  {padding-top: 4em;}
  #what p:nth-child(9)  {padding-top: 5em;}
  #what p:nth-child(11) {padding-top: 6em;}
  #what p:nth-child(13) {padding-top: 7em;}
  #what p:nth-child(15) {padding-top: 8em;}
  #what p:nth-child(17) {padding-top: 9em;}
  #what p:nth-child(19) {padding-top: 10em;}
  #what p:nth-child(21) {padding-top: 11em;}

  /* striketrough su "non" */
  /*
  del::before {
    content:'';
    position: absolute;
    top: 2em;
    width: 1.9em;
    border-top: 0.25em solid white;
  }
  */


  #what2 {
    line-height: 1;
  }
  #what2 p,
  #what2 li {
    width: 60%;
  }

  #what2 li {
    margin-top: .4em;
    list-style-type: none;
  }

  #what2 {
    padding-left: 1em;
  }

  li:nth-child(1) {padding-left: 1em}
  li:nth-child(2) {padding-left: 2em}
  li:nth-child(3) {padding-left: 3em}
  li:nth-child(4) {padding-left: 4em}


  /* styles for image scroller */
  .pics_container img {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
  }

  img.active,
  img.alwaysactive {
    opacity: 1;
  }

  .imagebox {
    position: sticky;
    top: 40vh;
  }






  .issue-container {
    font-weight: 300;
    margin: 0 auto;
  }

  .issue-container h2 {
    font-size: 1.5em;
    font-weight: 300;
    line-height: 0.9;
    margin-bottom: 0.3em;
  }

  .issue-title {
    font-weight: 600;
  }

  .issue-container p {
    hyphens: auto;
  }

  .issue-number-in-text {
    font-size: 0.8em;
  }

  .issue-title-in-text {
    font-size: 0.8em;
    font-weight: 600;
  }

  .link-to-bookshops a {
    font-size: 2em;
    text-decoration: none;
  }








  #getyourcopy {
    text-align: center;
    position: relative;
    transition: 1s;
    font-size: 14vw;
  }

  .pre-acquista {
    padding-top: 3em;
  }

  .acquista {
    transform: rotateX(60deg);
  }

  .int {
    width: 100%;
    position: absolute;
    top: 0;
    line-height: 1.2;
    transition: 1s;
  }

  .int:nth-child(1) {
    transform: translateY(-.5em);
  }
  .int:nth-child(2) {
    transform: translateY(-.1em);
  }
  .int:nth-child(3) {
    transform: translateY(-.15em);
  }
  .int:nth-child(4) {
    transform: translateY(-.2em);
  }
  .int:nth-child(5) {
    transform: translateY(-.25em);
  }
  .int:nth-child(6) {
    transform: translateY(-.3em);
  }
  .int:nth-child(7) {
    transform: translateY(-.35em);
  }
  .int:nth-child(8) {
    transform: translateY(-.4em);
  }
  .int:nth-child(9) {
    transform: translateY(-.45em);
  }

  .pre-network {
    padding-top: 2em;
  }

  .network {
    font-size: 16px;
    text-align: center;
  }

  .network p {
    font-size: 0.9em;
    text-align: center;
  }

  .network h2.sections {
    font-size: 2em;
    margin-top: 2em;
  }

  .network h2.cities {
    font-weight: 400;
    font-size: 1em;
    margin-top: 2em;
    margin-bottom: 0;
    text-transform: uppercase;
  }
  
  .network h3 {
    font-size: 1.2em;
    margin-top: 0.4em;
    margin-bottom: 0;
  }

  .network h3.online {
    margin-top: 1em;
  }



  .links {
    margin-top: .5em;
    font-weight: 600;
  }

  .links a {
  }

  .soldout a {
    font-weight: 400;
  }

  .soldout::after, .soldout::before {
    font-weight: 400;
    margin-left: 0.5em;
    font-size: 0.8em;
    content: "SOLDOUT";
    background-color: black;
    color: white;
  }

  .soldout::before {
    background-color: transparent;
    color: transparent;
  }

  .active::after, .active::before {
    font-weight: 400;
    margin-left: 0.5em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    font-size: 0.8em;
    content: "BUY IT!";
    background-color: white;
    color: black;
  }

  .active::before {
    background-color: transparent;
    color: transparent;
  }










  /* per schermi quadratozzi */
  /* è necessario mettere 3.1 per matchare l'ipad verticale */
  @media (min-aspect-ratio: 4/5) {

    .description p {
      column-count: 2;
      break-inside: avoid-column;
    }

    .description {
      font-size: 1.9vw;
    }

    .pics_container {
      width: 65%;
      margin: 0 auto;
    }

    .footer {
      font-size: 4vmin;
    }
  }





  /* per schermi orizzontali */
  @media (min-aspect-ratio: 4/3) {

    .logo-container.closed {
      font-size: 10.5vw;
      top: 2.5vw;
      padding: 5vw 0;
      transform: translateX(-5vw);
      right: 0;
    }

    .main {
      width: 50vw;
    }

    #what p {
      top: 20vh;
    }

    .imagebox {
      top: 30vh;
    }

    .issue-container {
      width: 100%;
      font-weight: 400;
      margin: 0;
      }

    .description {
      font-size: 1.1vw;
    }

    .pics_container {
      width: 100%;
    }

    #getyourcopy {
      font-size: 6.5vw;
    }

  }



  /* per schermi molto orizzontali */
  @media (min-aspect-ratio: 6/3) {

    .imagebox {
      top: 20vh;
    }

  }









  .debug div {
    border: 1px solid red;
  }
