<!DOCTYPE html>
<html lang="import" dir="ltr" class="blue">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Vuoto è uno spazio pubblico transmediale" />

  <title>VUOTO spazio pubblico transmediale</title>

  <!-- Redirect to https -->
  <script src="/js/http-redirect.js"></script>

  <script src="/js/gsap.min.js"></script>
  <script src="/js/ScrollMagic.js"></script>
  <script src="/js/animation.gsap.js"></script>
  <script src="/js/vue.js"></script>

  <link rel="stylesheet" href="https://use.typekit.net/skj1zoz.css">

  <style media="screen">
  </style>

  <link rel="stylesheet" href="/css/styles.css">


  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-79NJETB0F2"></script>
  <script>
    // load Google Analytics only if host is correct (do not load in development env)
    var host = "vuoto.xyz"
    if (window.location.host == host) {
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'G-79NJETB0F2');
    }
  </script>

</head>

<body class="nodebug">




  <div class="header">
    <div class="logo-container">
      <p>VUOTO</p>
      <p>VUOTO</p>
      <p>VUOTO</p>
      <p>VUOTO</p>
      <p>VUOTO</p>
      <p>VUOTO</p>
      <p>VUOTO</p>
      <p>VUOTO</p>
      <p>VUOTO</p>
      <p>VUOTO</p>
      <p>VUOTO</p>
      <p>VUOTO</p>
      <p>VUOTO</p>
      <p>VUOTO</p>
      <p>VUOTO</p>
      <p>VUOTO</p>
      <p>VUOTO</p>
      <p>VUOTO</p>
      <p>VUOTO</p>
      <p>VUOTO</p>
      <p>VUOTO</p>
      <p>VUOTO</p>
      <p>VUOTO</p>
      <p>VUOTO</p>
      <p>VUOTO</p>
      <p>VUOTO</p>
      <h1 class="last">VUOTO</h1>
    </div>
  </div> <!-- logo-wrapper -->

  <div class="main">

    <div class="what_before spacer100"></div>

    <div id="what">
      <p class="line"><span class="barrato"><del>non</del></span> è un libro</p><br>
      <p class="line"><span class="barrato"><del>non</del></span> è un magazine</p><br>
      <p class="line"><span class="barrato"><del>non</del></span> è un libro d’artista</p><br>
      <p class="line"><span class="barrato"><del>non</del></span> è un journal</p><br>
      <p class="line"><span class="barrato"><del>non</del></span> è una fanzine</p><br>
      <p class="line"><span class="barrato"><del>non</del></span> ha un piano annuale</p><br>
      <p class="line"><span class="barrato"><del>non</del></span> ha un tema</p><br>
      <p class="line"><span class="barrato"><del>non</del></span> ha un formato</p><br>
      <p class="line"><span class="barrato"><del>non</del></span> ha una redazione</p><br>
      <p class="line">non è vuoto</p><br>
      <p class="line"></p>
    </div>

    <div class="spacer100"></div>

    <div id="what2">
      <p> vuoto è uno spazio pubblico transmediale nato per ospitare</p>
      <ul>
        <li>indagini collettive sulla città come sistema instabile</li>
        <li>riflessioni pubbliche sull’imprevedibilità come paradigma</li>
        <li>produzioni di paesaggi fisici e cognitivi fondati sull’idea dell’inatteso</li>
        <li>ricerche di modalità non deterministiche di intervento sull’urbano</li>
      </ul>
    </div>

    <div class="spacer100"></div>

    <div class="goblack"></div>

    <div class="spacer100"></div>
    <div id="controverso" class="issue-container">
      <div class="description">
        <h2>
          <span class="issue-number">
            VUOTO 2 /
          </span>
          <span class="issue-title">
            CONTROVERSO
          </span>
        </h2>
        <p>
          Gli eventi legati alla diffusione globale del virus COVID‐19 nella prima metà del 2020 hanno provocato, tra le altre cose, un’improvvisa ed esplosiva diffusione delle pratiche di intervento temporaneo / adattivo / reattivo sulla città.
          <br>
          Per lo più sconosciute fino pochi mesi fa, anche tra iprofessionisti del progetto, espressioni come “spazi pubblici temporanei”, “ciclabili pop-up” e “urbanismo tattico” sono diventate comuni nei telegiornali e nei bar.
          <br>
          Sono argomenti pubblici di conversazione e dibattito. Sostenitori e contrari analizzano i progetti e immaginano sviluppi futuri.
          <br>
          Nel frattempo molte amministrazioni si sono lanciate in sperimentazioni reali e quelle che si erano già affacciate su questi temi, come Barcellona, Milano o Parigi, hanno drasticamente accelerato i loro tempi di lavoro.
          <br>
          <br>
          Questa improvvisa accelerazione non può mancare di porre degli interrogativi. Stiamo assistendo ad una svolta nel modo di pensare i processi di trasformazione, viene da chiedersi, o è solo un momento di passaggio? Si sta consolidando in
          questa dialettica un nuovo modo di fare città? La pianificazione territoriale tradizionale e la sua staticità sono modelli ancora sostenibili? Dopo l’esperienza del COVID 19 e i conseguenti piani adattivi, è evidente che la città
          contemporanea debba maturare strumenti e programmi per rispondere rapidamente ad eventi improvvisi. Questo costante rapporto con l’inatteso può essere il futuro dell’urbanistica? Può la città essere costruita da tanti piccoli piccoli gesti,
          anche inaspettati? Questi gesti possono davvero aprire la possibilità ad enormi trasformazioni?
          <br>
          <br>
          <div class="tail">
            <span class="issue-number-in-text"> VUOTO 2 / </span><span class="issue-title-in-text"> CONTROVERSO </span> raccoglie contributi da architetti, artisti, ricercatori con l’obiettivo di aprire un dibattito su questi temi. Un dialogo che
            sarà sempre in continuo divenire, così come lo è la costruzione della città stessa.
          </div>
        </p>
      </div>
      <div class="links link-to-bookshops"> <a href="#getyourcopy">&#8594; acquista una copia</a></div>
      <div class="spacer100"></div>
      <div class="pics_container pics_container_issue2"></div>
      <div class="spacer100"></div>
      <div class="spacer100"></div>
    </div>

    <div class="spacer100"></div>
    <div id="vertigo" class="issue-container">

      <div class="description">
        <h2>
          <span class="issue-number">
            VUOTO 1 /
          </span>
          <span class="issue-title">
            VERTIGO
          </span>
        </h2>
        <p>
          Vuoto è assenza di materia. È anche la
          condizione perché qualcosa possa
          muoversi. Il vuoto attrae: la vertigine e
          l’aspirapolvere hanno lo stesso principio di
          funzionamento. Dal nove marzo al quattro
          maggio duemilaventi per cinquantasei
          giorni la vita è stata risucchiata via dalle
          città nelle quali abitiamo. Le strade, vuote.
          Le piazze, vuote. Le stazioni, vuote. I
          parchi, vuoti. Pedoni, automobili,
          biciclette, autobus, tram, tutto sparito.
          <br>
          Cinquantasei giorni all’interno dei nostri
          abitacoli, come astronauti, come
          palombari. Per mezzo di periscopi digitali
          abbiamo ammirato la nostra stessa
          assenza. Abbiamo aspettato col fiato
          sospeso. Abbiamo scritto, disegnato,
          fotografato, sproloquiato. Siamo stati
          impazienti annoiati irrequieti. Intimoriti
          smarriti alienati. Sereni eccitati entusiasti.
          Abbiamo telefonato messaggiato
          videochiamato rilasciato interviste
          videoregistrato. Abbiamo festeggiato
          compleanni e celebrato anniversari.
          <br>
          Dalla finestra abbiamo osservato
          ossessivamente lo spazio attorno a casa,
          finendo per vedere cose nuove. Abbiamo
          sentito cosa ci mancava davvero, e cosa
          non ci mancava per nulla. Abbiamo
          conosciuto una città senza spazio
          pubblico. Abbiamo letto la diffidenza negli
          sguardi degli sconosciuti. Asfissiati dalla
          vacuità abbiamo riflettuto sulle nostre vite,
          sulle nostre ambizioni, sulle nostre
          speranze. Abbiamo messo in discussione
          tutto, e poi lo abbiamo riabilitato.
          <br>
          Poi, improvvisamente come era iniziato,
          tutto questo è finito. Mentre quello che
          credevamo un periodo indimenticabile
          svaniva rapidamente nella memoria,
          lasciando solo un vago senso di nostalgia,
          abbiamo raccolto testi, interviste,
          fotografie, disegni, collage.
          <br>
          <br>
          <div class="tail">
            <span class="issue-number-in-text"> VUOTO 1 / </span><span class="issue-title-in-text"> VERTIGO </span> è il racconto/diario di queste settimane, per come le abbiamo vissute individualmente e collettivamente.
          </div>
        </p>
      </div>
      <div class="links link-to-bookshops"> <a href="#getyourcopy">&#8594; acquista una copia</a></div>
      <div class="spacer100"></div>
      <div class="pics_container pics_container_issue1"></div>
      <div class="spacer100"></div>
      <div class="spacer100"></div>
    </div>

    <div id="getyourcopy">
      <div class="pre-acquista"></div>
      <div class="acquista">
        <div class="int"> ACQUISTA<br> UNA<br> COPIA </div>
        <div class="int"> ACQUISTA<br> UNA<br> COPIA </div>
        <div class="int"> ACQUISTA<br> UNA<br> COPIA </div>
        <div class="int"> ACQUISTA<br> UNA<br> COPIA </div>
        <div class="int"> ACQUISTA<br> UNA<br> COPIA </div>
        <div class="int"> ACQUISTA<br> UNA<br> COPIA </div>
        <div class="int"> ACQUISTA<br> UNA<br> COPIA </div>
        <div class="int"> ACQUISTA<br> UNA<br> COPIA </div>
        <div class="int"> ACQUISTA<br> UNA<br> COPIA </div>
      </div>
      <div class="pre-network"></div>
      <div class="network">



        <div id="app">
          <h2 class="sections">ONLINE</h2>

          <h3 class="online">leporello</h3>
          <p class="links soldout"> <a target="_blank" href="https://leporello-books.com/prodotto/vuoto-1-vertigo/"> VUOTO 1 / VERTIGO</a></p>
          <p class="links active"> <a target="_blank" href="https://leporello-books.com/prodotto/vuoto-2-controverso/"> VUOTO 2 / CONTROVERSO </a></p>

          <h3 class="online">spazio b**k</h3>
          <p class="links soldout"> <a target="_blank" href="https://www.spaziobk.com/prodotto/libri/vuoto-1-vertigo/">VUOTO 1 / VERTIGO</a></p>
          <p class="links soldout"> <a target="_blank" href="https://www.spaziobk.com/prodotto/libri/vuoto-2-controverso/">VUOTO 2 / CONTROVERSO</a></p>


          <h3 class="online">edicola 518</h3>
          <p class="links soldout"> <a target="_blank" href="https://www.emergenzeweb.it/">VUOTO 1 / VERTIGO</a></p>
          <p class="links soldout"> <a target="_blank" href="https://www.emergenzeweb.it/prodotto/vuoto-%E2%84%96-2/"> VUOTO 2 / CONTROVERSO </a></p>


          <h2 class="sections">LIBRERIE</h2>
          <div v-for="city in cities">
            <h2 class=cities>{{city.luogo}}</h2>
            <div v-for="libreria in city.librerie">
              <h3><a :href="libreria.web">{{libreria.nome}}</a></h3>
              <p>{{libreria.indirizzo}}</p>
            </div>
          </div>
        </div>

      </div>
    </div>



    <script type="text/javascript">
      let network = function() {
        return {
          "cities": [{
              "luogo": 'BOLOGNA',
              "librerie": [{
                "nome": 'corraini mambo',
                "indirizzo": 'Via Don Minzoni 14',
                "web": 'https://www.corraini.com/it/librerie/corraini-mambo-artbookshop.html'
              }]
            },
            {
              "luogo": 'CATANIA',
              "librerie": [{
                  "nome": 'vicolo stretto',
                  "indirizzo": 'Via Santa Filomena 38',
                  "web": 'https://www.libreriavicolostretto.it/'
                },
                {
                  "nome": 'legatoria prampolini',
                  "indirizzo": 'Via Vittorio Emanuele II 333',
                  "web": 'https://www.libreriavicolostretto.it/'
                },
              ]
            },
            {
              "luogo": 'FIRENZE',
              "librerie": [{
                "nome": 'todo modo',
                "indirizzo": 'Via dei Fossi 15 rosso',
                "web": 'https://todomodo.org/'
              }]
            },
            {
              "luogo": 'MANTOVA',
              "librerie": [{
                "nome": 'galleria corraini',
                "indirizzo": 'Via Ippolito Nievo 7a',
                "web": 'https://corraini.com/it/librerie/galleria-corraini.html'
              }]
            },
            {
              "luogo": 'Milano',
              "librerie": [{
                  "nome": 'spazio b**k',
                  "indirizzo": 'Via Porro Lambertenghi 20',
                  "web": 'https://www.spaziobk.com/'
                },
                {
                  "nome": 'noi libreria',
                  "indirizzo": 'Via delle Leghe 18',
                  "web": 'https://www.noilibreria.it/'
                },
                {
                  "nome": 'corraini 121+',
                  "indirizzo": 'Via Savona 17/5',
                  "web": 'https://corraini.com/it/librerie/121.html'
                },
                {
                  "nome": 'verso',
                  "indirizzo": 'Corso di Porta Ticinese 40',
                  "web": 'https://www.libreriaverso.com/'
                }
              ]
            },
            {
              "luogo": 'NAPOLI',
              "librerie": [{
                "nome": 'perditempo',
                "indirizzo": 'Via S. Pietro a Maiella 8',
                "web": 'https://www.facebook.com/PerdiTempobarNapoli/'
              }]
            },
            {
              "luogo": 'PERUGIA',
              "librerie": [{
                "nome": 'edicola 518',
                "indirizzo": "Via Sant'Ercolano 42",
                "web": 'https://www.emergenzeweb.it/edicola-518/'
              }]
            },
            {
              "luogo": 'ROMA',
              "librerie": [{
                "nome": 'leporello',
                "indirizzo": "Via del Pigneto 162/e",
                "web": 'https://leporello-books.com/'
              }, {
                "nome": 'casa dell’architettura',
                "indirizzo": "Piazza Manfredo Fanti, 47",
                "web": 'https://www.casadellarchitettura.it/'
              }]
            },
            {
              "luogo": 'TORINO',
              "librerie": [{
                "nome": 'libreria bodoni',
                "indirizzo": "Via Carlo Alberto 41",
                "web": 'https://www.libreriabodoni.it/'
              }]
            },
            {
              "luogo": 'VENEZIA',
              "librerie": [{
                "nome": 'b-r-u-n-o',
                "indirizzo": "C. Lunga S. Barnaba, 2729",
                "web": 'https://www.b-r-u-n-o.it/'
              }]
            },
          ]
        }
      }


      var app = new Vue({
        el: '#app',
        data: network
      })
    </script>



    <div class="spacer100"></div>
  </div>

  <div class="footer gowhite" style="font-weight: 200">
    <div class="unprogettodi">
      vuoto è un progetto di
      <br>
      <a target="_blank" href="https://orizzontale.org">orizzontale</a> + <a target="_blank" href="https://atto.si">atto</a>
      <br>
      <br>
      scrivici:
      <a href="mailto:ciao@vuoto.xyz">ciao@vuoto.xyz<a />
      <br>
      <br>
      <a target="_blank" href="/privacy">privacy policy</a>
    </div>
  </div>


  <script type="text/javascript">
    // init controller
    var controller = new ScrollMagic.Controller();



    // CHIUSURA LOGO

    var scene = new ScrollMagic.Scene({
        triggerElement: '.main',
        offset: -200
      })
      .setClassToggle(".logo-container", "closed")
      .triggerHook(.5)
      .addTo(controller)




    // VARIAZIONE SFONDO

    var scene = new ScrollMagic.Scene({
        triggerElement: '.goblack',
        duration: 0,
        triggerHook: 0.35
      })
      .setClassToggle('html', 'black')
      .addTo(controller)

    var scene = new ScrollMagic.Scene({
        triggerElement: '.gowhite',
        duration: 0,
        triggerHook: 1
      })
      .setClassToggle('html', 'white')
      .addTo(controller)



    // SCROLLER IMMAGINI

    // define images
    var images_issue1 = [
      "/pics/vuoto1_2_low.jpg",
      "/pics/vuoto1_3_low.jpg",
      "/pics/vuoto1_4_low.jpg",
      "/pics/vuoto1_5_low.jpg",
      "/pics/vuoto1_6_low.jpg",
      "/pics/vuoto1_7_low.jpg",
      "/pics/vuoto1_8_low.jpg",
      "/pics/vuoto1_9_low.jpg",
      "/pics/vuoto1_10_low.jpg",
      "/pics/vuoto1_11_low.jpg",
      "/pics/vuoto1_12_low.jpg",
      "/pics/vuoto1_13_low.jpg",
      "/pics/vuoto1_14_low.jpg",
      "/pics/vuoto1_15_low.jpg",
      "/pics/vuoto1_16_low.jpg",
      "/pics/vuoto1_17_low.jpg",
      "/pics/vuoto1_18_low.jpg",
      "/pics/vuoto1_19_low.jpg",
      "/pics/vuoto1_20_low.jpg",
      "/pics/vuoto1_21_low.jpg",
      "/pics/vuoto1_22_low.jpg",
      "/pics/vuoto1_23_low.jpg",
      "/pics/vuoto1_24_low.jpg",
      "/pics/vuoto1_25_low.jpg",
      "/pics/vuoto1_26_low.jpg",
      "/pics/vuoto1_27_low.jpg",
      "/pics/vuoto1_28_low.jpg",
      "/pics/vuoto1_29_low.jpg",
      "/pics/vuoto1_30_low.jpg",
      "/pics/vuoto1_31_low.jpg",
      "/pics/vuoto1_32_low.jpg",
      "/pics/vuoto1_33_low.jpg",
      "/pics/vuoto1_34_low.jpg",
      "/pics/vuoto1_35_low.jpg",
      "/pics/vuoto1_36_low.jpg",
      "/pics/vuoto1_37_low.jpg",
      "/pics/vuoto1_38_low.jpg",
      "/pics/vuoto1_39_low.jpg",
      "/pics/vuoto1_40_low.jpg",
      "/pics/vuoto1_41_low.jpg",
      "/pics/vuoto1_42_low.jpg",
      "/pics/vuoto1_43_low.jpg",
      "/pics/vuoto1_44_low.jpg"
    ];

    if (window.innerWidth > 500) {
      images_issue1 = [
        "/pics/vuoto1_2.jpg",
        "/pics/vuoto1_3.jpg",
        "/pics/vuoto1_4.jpg",
        "/pics/vuoto1_5.jpg",
        "/pics/vuoto1_6.jpg",
        "/pics/vuoto1_7.jpg",
        "/pics/vuoto1_8.jpg",
        "/pics/vuoto1_9.jpg",
        "/pics/vuoto1_10.jpg",
        "/pics/vuoto1_11.jpg",
        "/pics/vuoto1_12.jpg",
        "/pics/vuoto1_13.jpg",
        "/pics/vuoto1_14.jpg",
        "/pics/vuoto1_15.jpg",
        "/pics/vuoto1_16.jpg",
        "/pics/vuoto1_17.jpg",
        "/pics/vuoto1_18.jpg",
        "/pics/vuoto1_19.jpg",
        "/pics/vuoto1_20.jpg",
        "/pics/vuoto1_21.jpg",
        "/pics/vuoto1_22.jpg",
        "/pics/vuoto1_23.jpg",
        "/pics/vuoto1_24.jpg",
        "/pics/vuoto1_25.jpg",
        "/pics/vuoto1_26.jpg",
        "/pics/vuoto1_27.jpg",
        "/pics/vuoto1_28.jpg",
        "/pics/vuoto1_29.jpg",
        "/pics/vuoto1_30.jpg",
        "/pics/vuoto1_31.jpg",
        "/pics/vuoto1_32.jpg",
        "/pics/vuoto1_33.jpg",
        "/pics/vuoto1_34.jpg",
        "/pics/vuoto1_35.jpg",
        "/pics/vuoto1_36.jpg",
        "/pics/vuoto1_37.jpg",
        "/pics/vuoto1_38.jpg",
        "/pics/vuoto1_39.jpg",
        "/pics/vuoto1_40.jpg",
        "/pics/vuoto1_41.jpg",
        "/pics/vuoto1_42.jpg",
        "/pics/vuoto1_43.jpg",
        "/pics/vuoto1_44.jpg"
      ];
    }

    var images_issue2 = [
      "/pics/vuoto2_1_low.jpg",
      "/pics/vuoto2_3_low.jpg",
      "/pics/vuoto2_4_low.jpg",
      "/pics/vuoto2_5_low.jpg",
      "/pics/vuoto2_6_low.jpg",
      "/pics/vuoto2_7_low.jpg",
      "/pics/vuoto2_8_low.jpg",
      "/pics/vuoto2_9_low.jpg",
      "/pics/vuoto2_10_low.jpg",
      "/pics/vuoto2_11_low.jpg",
      "/pics/vuoto2_12_low.jpg",
      "/pics/vuoto2_13_low.jpg",
      "/pics/vuoto2_14_low.jpg",
      "/pics/vuoto2_15_low.jpg",
      "/pics/vuoto2_16_low.jpg",
      "/pics/vuoto2_17_low.jpg",
      "/pics/vuoto2_18_low.jpg",
      "/pics/vuoto2_19_low.jpg",
      "/pics/vuoto2_20_low.jpg",
      "/pics/vuoto2_21_low.jpg",
      "/pics/vuoto2_22_low.jpg",
      "/pics/vuoto2_23_low.jpg",
      "/pics/vuoto2_24_low.jpg",
      "/pics/vuoto2_25_low.jpg",
      "/pics/vuoto2_26_low.jpg",
      "/pics/vuoto2_27_low.jpg",
      "/pics/vuoto2_28_low.jpg",
      "/pics/vuoto2_29_low.jpg",
      "/pics/vuoto2_30_low.jpg",
      "/pics/vuoto2_31_low.jpg",
      "/pics/vuoto2_32_low.jpg",
      "/pics/vuoto2_33_low.jpg",
      "/pics/vuoto2_34_low.jpg",
      "/pics/vuoto2_35_low.jpg",
      "/pics/vuoto2_36_low.jpg",
      "/pics/vuoto2_37_low.jpg",
      "/pics/vuoto2_38_low.jpg",
      "/pics/vuoto2_39_low.jpg",
      "/pics/vuoto2_40_low.jpg",
      "/pics/vuoto2_41_low.jpg",
      "/pics/vuoto2_42_low.jpg",
      "/pics/vuoto2_43_low.jpg",
      "/pics/vuoto2_44_low.jpg",
      "/pics/vuoto2_45_low.jpg",
      "/pics/vuoto2_46_low.jpg",
      "/pics/vuoto2_47_low.jpg",
      "/pics/vuoto2_48_low.jpg",
      "/pics/vuoto2_49_low.jpg",
      "/pics/vuoto2_50_low.jpg",
      "/pics/vuoto2_51_low.jpg",
      "/pics/vuoto2_52_low.jpg",
      "/pics/vuoto2_53_low.jpg",
      "/pics/vuoto2_54_low.jpg",
      "/pics/vuoto2_55_low.jpg",
      "/pics/vuoto2_56_low.jpg",
      "/pics/vuoto2_57_low.jpg",
      "/pics/vuoto2_58_low.jpg"
    ];

    if (window.innerWidth > 500) {
      images_issue2 = [
        "/pics/vuoto2_1.jpg",
        "/pics/vuoto2_3.jpg",
        "/pics/vuoto2_4.jpg",
        "/pics/vuoto2_5.jpg",
        "/pics/vuoto2_6.jpg",
        "/pics/vuoto2_7.jpg",
        "/pics/vuoto2_8.jpg",
        "/pics/vuoto2_9.jpg",
        "/pics/vuoto2_10.jpg",
        "/pics/vuoto2_11.jpg",
        "/pics/vuoto2_12.jpg",
        "/pics/vuoto2_13.jpg",
        "/pics/vuoto2_14.jpg",
        "/pics/vuoto2_15.jpg",
        "/pics/vuoto2_16.jpg",
        "/pics/vuoto2_17.jpg",
        "/pics/vuoto2_18.jpg",
        "/pics/vuoto2_19.jpg",
        "/pics/vuoto2_20.jpg",
        "/pics/vuoto2_21.jpg",
        "/pics/vuoto2_22.jpg",
        "/pics/vuoto2_23.jpg",
        "/pics/vuoto2_24.jpg",
        "/pics/vuoto2_25.jpg",
        "/pics/vuoto2_26.jpg",
        "/pics/vuoto2_27.jpg",
        "/pics/vuoto2_28.jpg",
        "/pics/vuoto2_29.jpg",
        "/pics/vuoto2_30.jpg",
        "/pics/vuoto2_31.jpg",
        "/pics/vuoto2_32.jpg",
        "/pics/vuoto2_33.jpg",
        "/pics/vuoto2_34.jpg",
        "/pics/vuoto2_35.jpg",
        "/pics/vuoto2_36.jpg",
        "/pics/vuoto2_37.jpg",
        "/pics/vuoto2_38.jpg",
        "/pics/vuoto2_39.jpg",
        "/pics/vuoto2_40.jpg",
        "/pics/vuoto2_41.jpg",
        "/pics/vuoto2_42.jpg",
        "/pics/vuoto2_43.jpg",
        "/pics/vuoto2_44.jpg",
        "/pics/vuoto2_45.jpg",
        "/pics/vuoto2_46.jpg",
        "/pics/vuoto2_47.jpg",
        "/pics/vuoto2_48.jpg",
        "/pics/vuoto2_49.jpg",
        "/pics/vuoto2_50.jpg",
        "/pics/vuoto2_51.jpg",
        "/pics/vuoto2_52.jpg",
        "/pics/vuoto2_53.jpg",
        "/pics/vuoto2_54.jpg",
        "/pics/vuoto2_55.jpg",
        "/pics/vuoto2_56.jpg",
        "/pics/vuoto2_57.jpg",
        "/pics/vuoto2_58.jpg"
      ];
    }

    durationPerPic = "20vh";

    let createpics = function(pics, container) {

      let imagebox = document.createElement('div');
      imagebox.classList.add("imagebox");
      container.appendChild(imagebox);

      pics.forEach(function(el, idx) {
        let img = document.createElement('img');
        let myclass = "img" + idx;
        img.classList.add(myclass);
        img.src = el;
        imagebox.appendChild(img);
        let div = document.createElement('div');
        div.style.height = durationPerPic;
        container.appendChild(div);


        if (idx === 0) {
          img.classList.add("alwaysactive");
        }

        new ScrollMagic.Scene({
            triggerElement: div,
            triggerHook: 0.4
          })
          .setClassToggle(img, "active")
          .addTo(controller);

      });
      let duration = durationPerPic * pics.length;

    }

    let container1 = document.querySelector('.pics_container_issue1');
    createpics(images_issue1, container1);

    let container2 = document.querySelector('.pics_container_issue2');
    createpics(images_issue2, container2);





    // CAMBIA COLORI INIZIALI

    let style = document.querySelector('style');

    let couples = [
      "html.blue {background: #8d08f7;}            .logo-container p, .links {color: #50e95d;}", //juan
      "html.blue {background: rgb(12,128,126);}    .logo-container p, .links {color: rgb(255, 110, 225);}", //riso birthday
      "html.blue {background: rgb(12,128,126);}    .logo-container p, .links {color: rgb(248,231,28);}", //riso 2
      "html.blue {background: #7FFF00;}            .logo-container p, .links {color: #8A2BE2;}", //ufogreen protonpurple
      "html.blue {background: #E419FF;}            .logo-container p, .links {color: #7FFF00;}", //ufogreen adobe
    ]

    var couple = couples[Math.floor(Math.random() * couples.length)];
    console.log(couple);

    let changecolors = function() {
      style.innerHTML = couple;
    }

    changecolors();
  </script>


</body>

</html>
