<!DOCTYPE html>
<html lang="it" dir="ltr" class="blue">

<head>
  {% include meta-and-title.html %}

  <!-- this is necessary for random colors script -->
  <style media="screen">
  </style>

  <link rel="stylesheet" href="https://use.typekit.net/skj1zoz.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/styles-home.css">

  <script src="/res/js/gsap.min.js"></script>
  <script src="/res/js/ScrollMagic.js"></script>
  <script src="/res/js/animation.gsap.js"></script>
  {% include ga.html %}

</head>

<body>
  
  {% include menu.html %}

  {{ content }}



</body>


</html>
